<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Campaigns</title>
    </head>
    <body>
        <section id = "hello">
            <h1>Campaigns</h1>
            {{#each campaigns as |campaign|}}
            <ul>
                <li>ID: {{campaign.id}}</li>
                <li>Name: {{campaign.name}}</li>
                <li>Description: {{campaign.description}}</li>
                <li>World ID: {{campaign.world_id}}</li>
                <li>Players: {{campaign.players}}</li>
            </ul>
            {{/each}}
        </section>
    </body>
</html>